version: "3"
services:
    mysql:
        platform: linux/x86_64
        image: mysql:8.0.23
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: "root_password"
            MYSQL_DATABASE: "outbox_messages"
            MYSQL_USER: "username"
            MYSQL_PASSWORD: "password"
            MYSQL_ROOT_HOST: "0.0.0.0"
        ports:
            - "3306:3306"
    dynamodb:
        image: amazon/dynamodb-local:latest
        ports:
            - "8000:8000"
        command: [ "-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory" ]
#    postgres:
#        platform: linux/x86_64
#        image: postgres:9.6-alpine
#        environment:
#            POSTGRES_DB: "domain_messages"
#            POSTGRES_USER: "username"
#            POSTGRES_PASSWORD: "password"
#        ports:
#            - "5432:5432"
