parameters:
    level: 8
    paths:
        - src
    excludePaths:
        analyse:
            - src/DoctrineV2*
            - *Test.php
            - src/wait-for-and-setup-database.php
            - src/IlluminateMessageRepository/IlluminateUuidV4MessageRepository.php
            - src/MessageOutbox/OutboxRelay.php
            - src/DoctrineMessageRepository/DoctrineUuidV4MessageRepository.php